<%- include('template.ejs') -%>
<div class="container mt-3">
    <table id="table" style="width: 100%; border-color: #ced4da;" class="table-hover table-bordered">
        <thead>
            <tr>
                <th class="p-3">Id</th>
                <th class="p-3">Item Name</th>
                <th class="p-3">Cost</th>
                <th class="p-3">Quantity</th>
                <th class="p-3">Stock</th>
                <th class="p-3">Add To Cart</th>
            </tr>
        </thead>
        <tbody>
            <% for (i = 0; i < data.length; i++){ %>
                <tr>
                    <form action="/addtocart" method="post">
                        <input type="hidden" name="productid" value="<%= data[i].productId %>">
                        <input type="hidden" name="name" value="<%= data[i].name %>">
                        <input type="hidden" name="price" value="<%= data[i].price %>">
                        <input type="hidden" name="stock" value="<%= data[i].stock %>">
                        <input type="hidden" name="unit" value="<%= data[i].unit %>">
                        <input type="hidden" name="id" value="<%= data[i]._id %>">
                        <input type="hidden" name="gst" value="<%= data[i].gst %>">
                        <td class="p-3"><%= data[i].productId %></td>
                        <td class="p-3"><%= data[i].name %></td>
                        <td class="p-3"><%= data[i].price %> <i class="fa fa-rupee"></i></td>
                        <td class="p-3"><input type="number" name="quantity" id="quantity" class="form-control" placeholder="Enter quantity..."></td>
                        <td class="p-3"><%= data[i].stock %> <%= data[i].unit %></td>
                        <td class="p-3"><input type="submit" class="btn btn-info" value="Add To Cart"></td>
                    </form>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <th class="p-3">Id</th>
                <th class="p-3">Item Name</th>
                <th class="p-3">Cost</th>
                <th class="p-3">Quantity</th>
                <th class="p-3">Stock</th>
                <th class="p-3">Add To Cart</th>
            </tr>
        </tfoot>
    </table>
</div>
</body>
<script src="datatables/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
<script src="datatables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="datatables/Responsive-2.3.0/js/dataTables.responsive.min.js"></script>
<script src="datatables/Responsive-2.3.0/js/responsive.bootstrap5.js"></script>
<script src="datatables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.html5.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.print.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table').DataTable( {
            "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'
        });
    });
</script>
</html>