<%- include('template.ejs') -%>
<div class="container mt-3">
    <table id="table" style="width: 100%; border-color: #ced4da;" class="table-hover table-bordered">
        <thead>
            <tr>
                <th class="p-3">Id</th>
                <th class="p-3">Item Name</th>
                <th class="p-3">Cost</th>
                <th class="p-3">Stock</th>
                <th class="p-3">GST</th>
                <th class="p-3">Edit</th>
            </tr>
        </thead>
        <tbody>
            <% for (i = 0; i < data.length; i++){ %>
            <tr>
                <td class="p-3"><%= data[i].productId %></td>
                <td class="p-3"><%= data[i].name %></td>
                <td class="p-3"><%= data[i].price %> <i class="fa fa-rupee"></i></td>
                <td class="p-3"><%= data[i].stock %> <%= data[i].unit %></td>
                <td class="p-3"><%= data[i].gst %> %</td>
                <td class="p-3"><button class="btn btn-info">Edit</button></td>
            </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <th class="p-3">Id</th>
                <th class="p-3">Item Name</th>
                <th class="p-3">Cost</th>
                <th class="p-3">Stock</th>
                <th class="p-3">GST</th>
                <th class="p-3">Edit</th>
            </tr>
        </tfoot>
    </table>
</div>
</body>
<script src="datatables/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
<script src="datatables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="datatables/Responsive-2.3.0/js/dataTables.responsive.min.js"></script>
<script src="datatables/Responsive-2.3.0/js/responsive.bootstrap5.js"></script>
<script src="datatables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.html5.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.print.min.js"></script>
<script src="datatables/Buttons-2.2.3/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table').DataTable( {
            "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'
        });
    });
</script>
</html>